<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta>
    <title>NEWS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
    
        <div class="container">
              <h1>WELCOME TO MY NEWS CHANNEL</h1>
                <form>
                    <input type="text" name="news_query" placeholder="Search for a News" class="form-control">
                    <input type="submit"  value="Submit" class="btn btn-default">
                </form>
            
            </div>


</body>
</html>