{% macro displaySourceList(news_list) %}
<div class="row">
    {% for new in news_list %}
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="card-header" style="background-color: #4D243D;" >
                <h3 style="text-align:center; color:whitesmoke;">{{ new.source}}</h3>
            </div>
            <h6 style="font-size: 1.3em; background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYdVIQhD-mS-aJVck44dBJjHZj-oYYkV48IRKY8gEKd_0p3DLzcQ");"><b>{{ new.description }}</b></h6>
            <hr>
            <a href="/news/{{new.id}}"><button style = "color:black;background-color:green;">News Details</button></a>
        </div>
    </div>

    {% endfor %}
</div>
{% endmacro %} {% macro displayArticlesList(articles_list) %}
<div class="row">
    {% for article in articles_list %}

    <div class="col-md-3">
        <div class="thumbnail" style="padding:10px;">
            <div class="card-header-default">

            </div>
            <img src="{{ article.poster }}" alt="{{ article.title }} poster" class="img-responsive">
            <b><h3>{{article.title}}</h3></b>
            <p>
                <article>{{ article.description }}</article>
            </p>
            <p><a href="{{article.url}}">View full news...</a></p>
            <hr>
            <div class="card-footer-default">
                <b><small class="text-muted">Published at: {{ article.time}}</small></b>

            </div>
        </div>
    </div>
</div>
{% endfor %} {% endmacro %}